*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Merriweather', serif;
}
/* top nav bar */
.top-navbar{
    display: flex;
    justify-content: space-between;
}
.top-navbar p{
    margin-top: 12px;
    margin-left: 15px;
}

body{
    margin: 0%;
    padding: 0%;
}
.d-block{
    object-fit: cover;
    object-position: center;
    height: 85vh;
    overflow: hidden;
}